{% load static %}

<div class="container flex-container align-center">
        <h2 class="section__title">FDM материалы</h2>
    </div>
    <div class="container flex-container align-center card-container">
        <div class="card material__card align-center">
          <img class="card-img-top" src="{% static 'images/materials/fdm_pc.jpg' %}" alt="Card image cap">
          <div class="card-body text-center">
            <h5 class="card-title">PC (поликарбонат)</h5>
            <p class="card-text">Применяется в офтальмологии (для изготовления линз). Благодаря высокому коэффициенту светопропускания используется в качестве аналога стекла. Плавится при температуре 250-300⁰С, что нужно учитывать при выборе принтера. В среднем в три раза дороже ABS-пластика.</p>
          </div>
        </div>
        <div class="card material__card">
          <img class="card-img-top" src="{% static 'images/materials/fdm_nylon.jpg' %}" alt="Card image cap">
          <div class="card-body text-center">
            <h5 class="card-title">Нейлон</h5>
            <p class="card-text">Прочный, пластичный, химически устойчивый материал. Плавится при температуре около 250⁰С. При нагревании не выделяет токсичных паров, но сильно впитывает воду. Используется для создания прочных деталей и деталей с небольшим удельным весом.</p>
          </div>
        </div>
        <div class="card material__card">
          <img class="card-img-top" src="{% static 'images/materials/fdm_pla.jpg' %}" alt="Card image cap">
          <div class="card-body text-center">
            <h5 class="card-title">PLA (полилактид)</h5>
            <p class="card-text">Безусловный лидер рынка материалов для FDM печати – экологичный, биосовместимый, термопластичный состав. В основе его производства – кукуруза и сахарный тростник, благодаря чему изделия из этого типа пластика с успехом используются в быту. Его применяют для изготовления игрушек, посуды, сувенирной продукции, элементов корпусов для бытовой техники, дизайнерских моделей, упаковки для пищевых продуктов, лекарств, хирургической нити.</p>
          </div>
        </div>
        <div class="card material__card">
          <img class="card-img-top" src="{% static 'images/materials/fdm_abs.jpg' %}" alt="Card image cap">
          <div class="card-body text-center">
            <h5 class="card-title">ABS</h5>
            <p class="card-text"> самый популярный в области 3D прототипирования термостойкий пластик, который, тем не менее, не может считаться одним из наиболее востребованных. Преимущества – долговечность, механическая прочность, устойчивость к влаге, маслам, широкому спектру кислот и повышенным температурам.</p>
          </div>
        </div>
        <div class="card material__card">
          <img class="card-img-top" src="{% static 'images/materials/fdm_formax.jpg' %}" alt="Card image cap">
          <div class="card-body text-center">
            <h5 class="card-title">ForMax</h5>
            <p class="card-text">Инженерный пластик наполненный углеволокном. Материал зарекомендовал себя как обладатель низкой усадки, высокой прочности и жесткости напечатанных изделий,</p>
          </div>
        </div>
        <div class="card material__card">
          <img class="card-img-top" src="{% static 'images/materials/fdm_hdpe.jpg' %}" alt="Card image cap">
          <div class="card-body text-center">
            <h5 class="card-title">HDPE (полиэтилен высокой плотности)</h5>
            <p class="card-text">Это одна из наиболее востребованных во всем мире разновидностей пластика для 3D печати. Материал очень легко плавится и застывает в рекордно короткие сроки</p>
          </div>
        </div>
        <div class="card material__card">
          <img class="card-img-top" src="{% static 'images/materials/fdm_pet.jpg' %}" alt="Card image cap">
          <div class="card-body text-center">
            <h5 class="card-title">PET (полиэтилентерефталат)</h5>
            <p class="card-text">Пищевая и медицинская тара изготавливается в основном из этого материала с очень сложным названием. Главное его преимущество – высокая химическая стойкость, он неподвержен разрушительному воздействию широкого спектра кислот и щелочей, устойчив к износу и широкому диапазону температур</p>
          </div>
        </div>
        <div class="card material__card">
          <img class="card-img-top" src="{% static 'images/materials/fdm_wood.jpg' %}" alt="Card image cap">
          <div class="card-body text-center">
            <h5 class="card-title">Wood (Имитаторы древесины)</h5>
            <p class="card-text">Изделия визуально, и функционально ничем не уступают аналогам из натурального дерева – изделиям даже присущ характерный древесный аромат</p>
          </div>
        </div>
        <div class="card material__card">
          <img class="card-img-top" src="{% static 'images/materials/fdm_laybrick.jpg' %}" alt="Card image cap">
          <div class="card-body text-center">
            <h5 class="card-title">Laybrick (имитатор песчаника)</h5>
            <p class="card-text">Материал с высокими эстетическими и эксплуатационными характеристиками. Связующий материал, взятый за основу для создания этого типа материала, смешан с минеральным наполнителем – этим и объясняется оригинальная текстура получаемых изделий.</p>
          </div>
        </div>
        <div class="card material__card">
          <img class="card-img-top" src="{% static 'images/materials/fdm_bronzefill.jpg' %}" alt="Card image cap">
          <div class="card-body text-center">
            <h5 class="card-title">BronzeFill (имитатор металла)</h5>
            <p class="card-text">Это практически прозрачный пластик на основе PLA, в состав которого входит также бронзовый наполнитель. Готовые 3D объекты прекрасно реагируют на постобработку – шлифовку, полировку – и визуально выглядят, как цельнометаллические, однако забывать о том, что в основе – термопластик, все же не стоит.</p>
        </div>
    </div>
</div>