{% load static %}

<div class="container flex-container align-center">
    <h2 class="section__title">Фотополимеры</h2>
</div>

<div class="container flex-container align-center card-container">
    <div class="card material__card align-center">
      <img class="card-img-top" src="{% static 'images/materials/lcd_castable.jpg' %}" alt="Card image cap">
      <div class="card-body text-center">
        <h5 class="card-title">Выжигаемый фотополимер Dental Castable</h5>
        <p class="card-text">Специально разработан для профессиональных задач стоматологов и ювелиров..</p>
      </div>
    </div>
    <div class="card material__card align-center">
      <img class="card-img-top" src="{% static 'images/materials/lcd_original.jpg' %}" alt="Card image cap">
      <div class="card-body text-center">
        <h5 class="card-title">Фотополимер Photon</h5>
        <p class="card-text">Базовый материал для качественной печати. 12 цветов.</p>
        <ul class="colors">
            <li class="color-white"></li>
            <li class="color-white"></li>
            <li class="color-white"></li>
            <li class="color-white"></li>
            <li class="color-white"></li>
            <li class="color-white"></li>
            <li class="color-white"></li>
            <li class="color-white"></li>
            <li class="color-white"></li>
            <li class="color-white"></li>
            <li class="color-white"></li>
            <li class="color-white"></li>
            <li class="color-white"></li>
        </ul>
      </div>
    </div>
    <div class="card material__card align-center">
      <img class="card-img-top" src="{% static 'images/materials/lcd_surgical.jpg' %}" alt="Card image cap">
      <div class="card-body text-center">
        <h5 class="card-title">Liquid Dental Surgical</h5>
        <p class="card-text">Применяется для изготовления хирургических шаблонов и моделей для планирования операций</p>
      </div>
    </div>
</div>