<!doctype html>
<html lang="ru">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>{% block title %}
            {% endblock %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    {% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">


</head>
<body>
<div id="wrapper">
        <header>
	        <a href="/"><img src="{% static 'images/logo.png'%}" alt="Whitesquare logo" ></a>

            <div class="h-contacts">
            <p>+7(904) 332 89 40</p>
            <p>RubyMazeRoid@gmail.com</p>
            </div>

        </header>
        <nav>
            <ul class="top-menu">
               {% if 'Главная' in view.title %} <li class="active"><a class="top-menu_a" href="{% url 'main_site:home' %}">ГЛАВНАЯ</a></li>{%else%}<li><a class="top-menu_w" href="{% url 'main_site:home' %}">ГЛАВНАЯ</a></li>{%endif%}
               {% if '3D печать' in view.title %}<li class="active"><a class="top-menu_a" href="{% url 'main_site:index' %}">3D ПЕЧАТЬ</a></li>{% else%}<li><a class="top-menu_w" href="{% url 'main_site:index' %}">3D ПЕЧАТЬ</a></li>{%endif%}
               {% if 'Моделирование' in view.title %} <li class="active"><a class="top-menu_a" href="{% url 'main_site:model' %}">МОДЕЛИРОВАНИЕ</a></li>{% else%}  <li><a class="top-menu_w" href="{% url 'main_site:model' %}">МОДЕЛИРОВАНИЕ</a></li>{%endif%}
               {% if '3D сканирование' in view.title %} <li class="active"><a class="top-menu_a" href="{% url 'main_site:scan' %}">СКАНИРОВАНИЕ</a></li>{% else%}<li><a class="top-menu_w" href="{% url 'main_site:scan' %}">СКАНИРОВАНИЕ</a></li>{%endif%}
               {% if 'Литье' in view.title %}<li class="active"><a class="top-menu_a" href="{% url 'main_site:mould' %}">ЛИТЬЕ</a></li>{% else%}<li><a class="top-menu_w" href="{% url 'main_site:mould' %}">ЛИТЬЕ</a></li>{%endif%}
               {% if 'Лазерная резка' in view.title %} <li class="active"><a class="top-menu_a" href="{% url 'main_site:rezka' %}">РЕЗКА</a></li>{% else%} <li><a class="top-menu_w" href="{% url 'main_site:rezka' %}">РЕЗКА</a></li>{%endif%}
               {% if 'Контакты' in view.title %}<li class="active"><a class="top-menu_a"  href="{% url 'main_site:contacts' %}">КОНТАКТЫ</a></li>{% else%}<li><a class="top-menu_w" href="{% url 'main_site:contacts' %}">КОНТАКТЫ</a></li>{%endif%}
            </ul>
        </nav>
            <div id="heading">
                <h1>{% if view.title %}{{view.title}} {% else %} 3D Ателье {% endif %}</h1>

            </div>

    		<aside>
            <nav>
                <ul class="aside-menu">

                    <li class="active">{{view.title}}</li>
                    {% for key, values in view.menu.items %}
                        <li><a href="{{key}}">{{ values }}</a></li>
                    {% endfor %}
<!--                    <li><a href="#technology">Технологии</a></li>-->
<!--                    <li><a href="#materials">Материалы</a></li>-->
<!--                    <li><a href="#materials">Цены</a></li>-->
<!--                    <li><a href="#equlation">Расчет прочности</a></li>-->
<!--                    <li><a href="#order">Заказ и доставка</a></li>-->

                </ul>
            </nav>
            <h2>Адрес офиса</h2>
            <p><img src="{% static 'images/map.png' %}" width="230" height="180" alt="Наш Офис"></p>
        </aside>

{% block content %}
{% endblock %}


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

	<!-- Маска для номера телефона -->

    <script src="{% static 'js/main.js'%}"></script>

</body>
</html>