{% extends 'main_site/base.html' %}
{% load staticfiles %}
{% block title %}
Ателье 3D печать
{% endblock %}

{% block content %}
<section>
        <div class="zaglushka-container">
        <h1>
            Страница в разработке.
        </h1>
    </div>

        <a class="btn" data-toggle="modal" href="#myModal" >Запустить пример всплывающего окна</a>

    <div class="modal" id="myModal">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Заголовок</h3>
      </div>
      <div class="modal-body">
        <p>Текст…</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn">Закрыть</a>
        <a href="#" class="btn btn-primary">Сохранить</a>
      </div>
    </div>
</section>
</div>


{% endblock %}