{% extends 'main_site/base.html' %}
{% load staticfiles %}
{% block title %}
Ателье 3D печать
{% endblock %}

{% block content %}
<section>

    <h2> Разработка инженерных твердотельных моделей (CAD моделей) по чертежам и эскизам</h2>
    <p>По любому инженерному чертежу или "скетчу" с размерами объекта мы создадим твердотельные 3D модели (CAD модели). Формат полученной модели: .sldprt (SolidWorks), .step </p>

    <h4>Разработка художественных 3D-моделей по фотографиям, рисункам и эскизам</h4>
    <p>По любой представленной фотографии, рисунку или эскизу мы создадим полигональные 3D модели любой сложности.</p>

    <h4>Разработка 3D-модели человека по фотографии</h4>
    <p></p>
</section>



{% endblock %}