{% extends 'pages/base.html' %}
{% load static %}

{% block title %}Ателье 3D печать{% endblock %}

{% block content %}
<section>
        <div class="contact-info">
            <h3><big>Телефон/whatsup:</big>             +79043328940</h3>
            <h3><big>Telegram:</big>                    @Ruby_Roid</h3>
            <h3><big>Email:</big>                       rubymazeroid@gmail.com</h3>
            <h3><big>Офис:</big>                         Санкт-Петербург, ул. Шпалерная дом 51</h3>
        </div>
</section>
{% endblock %}