$primaryFontFamily: "'Dosis', sans-serif";
$secondaryFontFamily: 'Spectral SC', serif;

$primaryTextColor: "";
$secondaryTextColor: "";
$thirdTextColor: "";

$primaryBackGroundColor: #8f8f8f;
$secondaryBackGroundColor: #FF4140;
$thirdBackGroundColor: "";

$primaryColor: #FF4140;
$secondaryColor: #E5E5E5;
$thirdColor: #2B2828;

